dev/*
dev/full_data_curation
beta_release/.ipynb_checkpoints/
beta_release/archive/
beta_release/databases/
beta_release/datasets/
beta_release/iclr_supplement/
beta_release/logs/
beta_release/metrics/
beta_release/models/
beta_release/PSALM_1/
beta_release/PSALM-1-clan/
beta_release/PSALM-1-family/
beta_release/results/
beta_release/roc_data/
beta_release/wandb/
beta_release/hf_upload_test.ipynb
protein_sequence_annotation/
protein_sequence_annotation/build/lib/psalm/
protein_sequence_annotation/protein_sequence_annotation.egg-info/
alignment/
clustering/
.DS_Store
.vscode/
combo_commit.sh