dev/data/
.DS_Store
.vscode/
dev/bash_scripts/
dev/misc/
combo_commit.sh
beta_release/models/
beta_release/results/
beta_release/roc_data/
beta_release/.ipynb_checkpoints/
beta_release/PSALM_1/
beta_release/PSALM-1-clan/
beta_release/PSALM-1-family/
beta_release/hf_upload_test.ipynb
protein_sequence_annotation/build/lib/psalm/
protein_sequence_annotation/protein_sequence_annotation.egg-info/
alignment/
generation/
clustering/